@import 'config';
@import 'profileBox';
@import 'timeBox';

.dashboard_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 115rem;
  margin: 5rem auto;
  padding: 0 2rem;
}
